.hero__button {
  font-size: 34px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;

  min-width: 250px;
  min-height: 100px;

	color: $secondColor;
  background-color: $mainColor;
  border: 8px solid $secondColor;
  border-radius: 10px;

  &:hover,
  &:focus {
    color: $mainColor;
    border-color: $mainColor;
    background-color: $secondColor;
  }
}
