.header__nav-list {
  padding: 15px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;

  outline: 4px solid $mainColor;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.header__nav-link:hover,
.header__nav-link:focus {
 
  background-color: yellow;
}

.header {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 40px;
}

.header.pink {
  background-color: $secondColor;

  outline: 3px solid $mainColor;
}

.header__nav-item {
  color: cornflowerblue;
}
